@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background: #141414;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
